
:root{
  --bg-color: rgb(188, 238, 205);
  --text-color: rgb(49, 47, 47);
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  }

body {
background-color: var(--bg-color);
color: var(--text-color);
text-align: center;
}

body.dark{
--bg-color: rgb(40, 55, 71);
--text-color: rgb(159, 252, 236);
}

body.light{
--bg-color: rgb(188, 238, 205);
--text-color: rgb(49, 47, 47);
}